body {
    background-color: #fff;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: 
    url('../fonts/Poppins/Poppins-Medium.ttf');
    /*local('Open Sans Light'), 
    local('OpenSans-Light'), 
    url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');*/
}

@font-face {
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    src: 
    url('../fonts/Poppins/Poppins-ExtraBold.ttf');
    /*local('Open Sans Light'), 
    local('OpenSans-Light'), 
    url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');*/
}
.btn-hero {
    background: #ff9900;
    border: 0px;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.btn-hero:hover {
    background: rgb(219,133,4);
    border: 0;
    color: white;
}

.btn-primary {
    background: #ff9900 !important;
    border: 0px;
    font-weight: bold;
    color: white !important;
}


.btn-primary:hover {
    background: rgb(219,133,4);
    border: 0;
    color: white;
}

.btn-secondary {
    background:none;
    border: 1px solid #BCD0E5;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #173A56;
}

.btn-secondary:hover {
    background:none;
    border: 1px solid rgb(159,177,197);
    color: #173A56;
}

.steped {
    border-bottom: 4px #ff9900 solid;
}


.herobwa h1, h3 , .formstepreg{
    font-family: 'Poppins';
    font-weight: 700;
    color: #2f281e;
}


.herobwa p, .footer p , .formstepreg p{
    font-family: 'Poppins';
    font-weight: 400;
    color: #2f281e;
}
.footer {
    padding-top : 20px;
    border-top: 1px solid #cac9c8;
}


.navbar-nav .nav-link {
    color: #2f281e;
}

@media only screen and (max-width: 768px) {
    .btn-primary {
        margin-left: 0px;
    }
}